@use "sass:map";

$breakpoints: (
  sm: "screen and (max-width: 600px)",
  md: "screen and (min-width: 768px)",
  la: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

/* mqとはmediaーqueryの略 */
@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
$font-family-en: "Abhaya Libre", serif;
$font-family-jp: "Inter", sans-serif;
$font-family-sub: "Noto Serif JP", sans-serif;
$font-size-base: 16px;
$color-base: #333;
$main-color: #d65180;
$line-height-base: 1.7;
$width-inner: 1200px;
$header-hight-sp: 80px;
$header-hight-pc: 90px;

body {
  font-size: $font-size-base;
  color: $color-base;
  font-family: $font-family-jp;
}

/*ーーーーーーーー　共通項目　ーーーーーーーー */
.inner {
  padding-inline: 15px; /* paddingの左右　padding-inline:*/

  @include mq(md) {
    margin-inline: auto; /* 要素中央寄せ */
    padding-left: 40px;
    padding-right: 40px;
    max-width: calc($width-inner + 40px * 2);
  }
}
.heading {
  font-size: 20px;
  line-height: 100%; /* 44px */
  letter-spacing: 1.1px;
  text-align: center;
  padding-bottom: 50px;
  text-align: center;
  font-family: $font-family-sub;
  text-decoration: underline solid #f7e6ec 4px;
  text-underline-offset: 10px;
  text-decoration-skip-ink: none;
  &--type2 {
    text-decoration: underline solid #fff 4px;
  }

  @include mq(md) {
    font-size: 25px;
  }
}
/*ーーーーーーーー　ボタン共通　ーーーーーーー  */

.button {
  display: inline-block;
  font-weight: 300;
  padding: 6px 21px;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  background-color: $main-color;
  color: #fff;
  letter-spacing: 1px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #fff;
    color: $main-color;
    border: 1px solid $main-color;
  }

  &--type2 {
    background-color: #fff;
    color: $main-color;
    font-weight: 600;
  }

  &:hover {
    background-color: $main-color;
    color: #fff;
    border: 1px solid #fff;
  }
}

/*--------------------------------
 スクロールエフェクト
---------------------------------*/

.fadeUpEffect {
  opacity: 0;
}

.fadeUp {
  opacity: 0;
  animation-name: fadeUp;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ーーーーーーーー　header　ーーーーーーーー */

.header {
  padding: 15px 25px;

  @include mq(md) {
    max-width: calc($width-inner + 30px * 2);
    margin-inline: auto;
    height: $header-hight-pc;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
  &__logo {
    @include mq(md) {
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }

    img {
      width: 80px;
      display: block; /* 余計な隙間ができないようにあててある */

      @include mq(md) {
        width: 90px;
      }
    }
  }

  &__nav {
    display: flex;
  }
  &__nav-list {
    display: none;

    @include mq(md) {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    @include mq(xl) {
      gap: 40px;
    }
  }
  &__nav-link {
    color: $color-base;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: color 0.3s;

    &:hover {
      color: $main-color;
    }
  }

  &__open {
    padding-top: 5px;
  }
  .drawer-icon {
    position: relative;
    width: 36px; /* :widthとheightを削除しても崩れなかった..... */
    height: 18px; /* :widthとheightを削除しても崩れなかった..... */
    top: 18px;
    @include mq(md) {
      display: none;
    }
  }
  .drawer-icon__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 3px;
    border-radius: 6px;
    background: $color-base;
    z-index: 51; /* 240行目の.drawer-contentsより前に表示させたかったのでz-index*/
    transition: transform 0.3s linear, top 0.3s linear;
    /* :nth-of-typeは親要素のブロックの中で、何番目に現れるかという疑似要素 */
    /* 似たような指定として「:nth-child」がある。こちらは要素を指定しない。今回はどちらを使ってもOK! */
    &:nth-of-type(1) {
    }
    &:nth-of-type(2) {
      top: 9px;
    }

    &:nth-of-type(3) {
      top: 18px;
    }
    @include mq(md) {
      background: $main-color;
    }
  }
  .is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        transform: rotate(30deg);
        top: 10px;
      }

      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        transform: rotate(-30deg);
        top: 10px;
      }
    }
  }
}
/*ーーーーーーーー　drawer　ーーーーーーー  */

.drawer-contents {
  width: 320px;
  height: 100%;
  position: fixed; /* :固定して浮かせるイメージ */
  top: 0;
  right: 0;
  background: $main-color;
  z-index: 50; /* 重なり順を制御したいので「z-index」 */
  padding: 80px 40px 40px; /* 今回は下のpaddingは必要ないけど仮で数字を入れてる状態 */
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-checked {
    transform: translateX(0);
  }

  &__menu {
  }
  ul {
    margin-top: 10px;
  }
  .header__nav-link {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    transition: color 0.3s;

    &:hover {
      color: #333;
    }
  }

  &__button {
    margin-top: 14px;
    text-align: right;
  }
}

/* ーーーーーーーー　main-visual　ーーーーーーーー */

.main-visual {
  width: 100%;
  position: relative;
  height: 470px;
  background: url(../img/sp_fv.jpg) no-repeat center center / cover;
  /*背景画像のサイズ指定 画像幅が足りなくて左右余白ができたので、幅に画像の大きさを合わせるとき使う*/

  @include mq("md") {
    height: 600px;
    background: url(../img/mainvisual.jpg) no-repeat center center / cover;
  }

  &__title {
    text-align: center;
    padding-top: 150px;

    @include mq(md) {
      padding-top: 170px;
    }
  }

  &__copy {
    font-size: 18px;
    color: $main-color;
    font-family: $font-family-sub;
    font-weight: 500;
    line-height: 100%; /* 44px */
    letter-spacing: 1.1px;

    @include mq(md) {
      font-size: 30px;
    }
  }

  &__main {
    @include mq(md) {
      color: $main-color;
    }

    .en {
      display: block;
      color: $main-color;
      font-family: $font-family-en;
      font-size: 67px;
      font-weight: 400;
      line-height: 63.5%; /* 107.95px */
      margin-top: 33px;

      @include mq(md) {
        font-size: 130px;
        margin-top: 42px;
      }
    }

    .ja {
      display: block;
      color: $main-color;
      font-family: $font-family-sub;
      font-size: 45px;
      font-weight: 400;
      line-height: 0;
      letter-spacing: 2.5px;
      margin-top: 25px;

      @include mq(md) {
        font-size: 80px;
        margin-top: 40px;
      }
    }
  }
}

// br {
//   display: none;
//   @include mq(md) {
//     display: inline; /* ＜br/＞解除*/
//   }
// }

/* ーーーーーーーー　Feature-pointーーーーーーーー */
.feature-point {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, rgba(234, 232, 232, 0.14) 0%, #f8f8f8 50%, #f5f5f5 100%);
  @include mq(md) {
    padding-top: 60px;
  }

  &__inner {
    padding-inline: 20px;
    @include mq(md) {
      max-width: calc(1280px + 15px * 2);
      padding-inline: 15px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mq(md) {
      flex-direction: row;
      justify-content: center;
      gap: 30px;
    }
  }

  figure {
    margin: 0;
    margin-inline: auto;
    border-radius: 10px;
    background-color: #f7e6ec;

    @include mq(md) {
      margin-inline: 0;
      width: 360px;
      &:hover {
        .figcaption__image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .figcaption__image {
      margin-bottom: 15px;
      @include mq(md) {
        overflow: hidden; /* ②imgが1.1倍に拡大するようにしてるが、imageの枠から、はみ出ないように指示してる */

        img {
          // transition: all 0.3s ease 0s;
          // transition: 0.3s;
          transition: transform 0.5s; /* ③imgを動かしたいのでimgに指示する */
        }
      }

      img {
        border-radius: 10px 10px 0px 0px;
        @include mq(md) {
        }
      }
    }

    figcaption {
      padding-bottom: 25px;
      padding-inline: 20px;
      @include mq(md) {
        padding-inline: 15px;
      }
    }
    // .figcaption__number {
    //   border-bottom: 3px solid #fff;
    //   width: 70px;
    //   transform: rotate(-8deg);
    //   margin-top: 10px;
    //   font-family: $font-family-sub;
    //   color: $main-color;
    //   font-style: italic;
    //   @include mq(md) {
    //   }

    //   .point {
    //     @include mq(md) {
    //       font-size: 13px;
    //     }
    //     @include mq(la) {
    //       font-size: 16px;
    //     }
    //   }

    //   .point-number {
    //     font-size: 20px;
    //     display: inline-block;
    //     margin-left: 2px;

    //     @include mq(md) {
    //       font-size: 16px;
    //     }

    //     @include mq(la) {
    //       font-size: 20px;
    //     }
    //   }
    // }

    .figcaption__title {
      color: $main-color;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      @include mq(md) {
      }
    }

    .figcaption__text {
      text-align: justify;
      margin-top: 10px;
      font-size: 14px;
      line-height: 166%; /* 24.9px */
    }
  }
}

/* ーーーーーーーー　コース　ーーーーーーーー */

.course {
  padding-top: 60px;
  padding-bottom: 70px;
  background: #fff;
  @include mq(md) {
    padding-top: 60px;
  }

  &__inner {
    padding-inline: 30px;
    @include mq(md) {
      padding-inline: 50px;
    }
    @include mq(la) {
      padding-inline: 70px;
    }
  }

  &__list {
    @include mq(md) {
      margin-top: 10px;
    }
  }

  &__item {
    padding: 0 0 60px;
    @include mq(md) {
      align-items: center;
      display: flex;
      margin-top: 40px;
      // justify-content: space-between;
    }
  }

  &__item:nth-child(2n) {
    @include mq(md) {
      flex-direction: row-reverse;
      gap: 5px;
    }
  }

  // &__item:not(:first-child) {
  //   @include mq(md) {
  //     margin-top: 40px;
  //   }
  // }

  // &__item:not(:first-child) {
  //   @include mq(md) {
  //     margin-top: 40px;
  //   }
  // }

  &__image {
    position: relative;
    width: 100%;
    @include mq(md) {
      width: 55%;
      // width: calc(530px / 1140px * 100%);
    }
  }

  img {
    border-radius: 10px;
  }

  &__depiction {
    text-align: center;
    margin-top: 25px;

    @include mq(md) {
      margin-top: 24px;
      width: 45%;
    }
  }

  &__flower-number {
    text-align: center;
    @include mq(md) {
    }
    .flower-number {
      margin-top: 8px;
      display: inline-flex;
      padding: 8px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 24px;
      border: 1px solid $color-base;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.5px;

      @include mq(md) {
        padding: 2px 35px;
      }
    }
  }
  &__name {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: $main-color;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;

    &-black {
      color: $color-base;
    }
    @include mq(md) {
      font-size: 45px;
      margin-top: 22px;
      letter-spacing: 1.5px;
      margin-bottom: 16px;
    }
    @include mq(la) {
      font-size: 48px;
    }
    @include mq(xl) {
      font-size: 50px;
    }
    .first-order {
      display: block;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 3px;
    }
  }

  &__price {
  }

  &__price-box {
    @include mq(md) {
      margin-top: 5px;
    }

    .price {
      color: #000;
      font-family: $font-family-jp;
      font-size: 35px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1;
      @include mq(md) {
        font-size: 30px;
      }
    }
    .yen,
    .number-times {
      font-size: 20px;
      font-weight: 600;
    }
    .slash {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .postage-tax {
    letter-spacing: 1.5px;
    font-weight: 600;
  }

  &__button {
    text-align: center;

    @include mq(md) {
      margin-top: 70px;
    }

    .button {
      margin-top: 10px;
      display: inline-flex;
      padding: 18px 32px;
      font-size: 18px;
      justify-content: center;
      align-items: center;
      border-radius: 53px;
      font-weight: 600;
      background: $main-color;
      color: #fff;
      letter-spacing: 1.76px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #fff;
        color: $main-color;
        border: 1px solid $main-color;
      }

      @include mq(md) {
        padding: 20px 86px;
        font-size: 25px;
      }
      @include mq(la) {
        font-size: 26px;
      }
      @include mq(xl) {
        font-size: 28px;
      }
    }
  }
}
/* ーーーーーーーー　slide　ーーーーーーーー */

.gallery {
  padding-top: 50px;
  padding-bottom: 60px;
  background: #f7e6ec;

  .inner {
    margin-inline: auto;
    max-width: 300px;
    @include mq(md) {
      max-width: 700px;
    }
    img {
      border-radius: 10px;
    }
  }
}

/* ーーーーーーーー　faq　ーーーーーーーー */

.faq {
  padding-block: 60px;

  @include mq(md) {
    padding-inline: 30px;
  }

  &__inner {
  }

  &__contents {
    border: 4px solid #f7e6ec;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    border-radius: 10px;

    @include mq(md) {
      padding-left: 60px;
      padding-right: 60px;
    }

    // @include mq(la) {
    //   padding-top: 32px;
    //   padding-right: 48px;
    //   padding-bottom: 44px;
    //   padding-left: 48px;
    // }
  }

  &__table {
    margin-top: 24px;

    @include mq(la) {
      margin-block: 20px;
    }
  }

  &__table-box {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  &__table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 14px;
    text-align: left;
    border-bottom: 1px solid #cccccc;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    // @include mq(la) {
    //   -webkit-box-orient: horizontal;
    //   -webkit-box-direction: normal;
    //   -ms-flex-direction: row;
    //   flex-direction: row;
    //   gap: 20px;
    //   padding-top: 12px;
    //   padding-bottom: 12px;
    //   padding-left: 16px;
    // }
  }

  &__table__header,
  &__table__data {
    text-align: left;
    vertical-align: middle;

    a {
      color: $main-color;
      transition: color 0.3s;

      &:hover {
        color: $main-color;
        opacity: 0.6;
      }
    }
  }

  &__table__header {
    position: relative;
    height: 100%;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    font-size: 16px;

    .q-icon {
      position: absolute;
      display: inline-block;
      top: 0;
      left: -3px;
      width: 17px;
      height: 17px;
      margin-right: 5px;
    }
    // &::before {
    //   position: absolute;
    //   top: 50%;
    //   left: -5px;
    //   width: 8px;
    //   height: 8px;
    //   content: "";
    //   // background: url(../img/Q_icon.png) no-repeat center center / contain;
    //   background-color: #9ed0e0;
    //   border-radius: 50%;
    //   -webkit-transform: translateY(-50%);
    //   transform: translateY(-50%);
    // }
    // @include mq(sm) {
    //   font-size: 16px;
    // }
    // @include mq(la) {
    //   -webkit-box-flex: 1;
    //   -ms-flex-positive: 1;
    //   flex-grow: 1;
    //   width: 188px;
    // }
  }

  &__table__data {
    width: 100%;
    font-size: 15px;
    text-align: justify;
  }
}

/* ーーーーーーーー　contact　ーーーーーーーー */
.contact {
  padding-top: 60px;
  padding-bottom: 80px;
  background: #f7e6ec;

  &__inner {
  }
  &__contents {
    text-align: center;
    @include mq(md) {
    }
  }
  &__title-box {
  }

  &__copy {
    font-size: 18px;
    color: $main-color;
    font-family: $font-family-sub;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1.1px;

    @include mq(md) {
      font-size: 25px;
    }
  }

  &__main {
    @include mq(md) {
      margin-top: 18px;
      display: flex;
      justify-content: center;
    }

    .en {
      display: inline-block;
      color: $main-color;
      font-family: $font-family-en;
      font-weight: 400;
      line-height: 56.288px; /* 71.818% */
      letter-spacing: 3.527px;
      font-size: 57px;
      margin-top: 10px;

      @include mq(md) {
        font-size: 67px;
      }
    }

    .ja {
      display: inline-block;
      color: $main-color;
      font-family: $font-family-sub;
      font-size: 38px;
      font-weight: 400;
      font-weight: 400;
      line-height: 89%;
      letter-spacing: 1.425px;

      @include mq(md) {
        font-size: 48px;
        line-height: 140%;
      }
    }
  }

  &__3contens {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    align-items: center;

    @include mq(md) {
      margin-top: 27px;
      flex-direction: row;
      gap: 40px;
      justify-content: center;
    }
    @include mq(la) {
      gap: 50px;
      margin-top: 37px;
    }
    @include mq(xl) {
      gap: 70px;
      margin-top: 47px;
    }
  }

  &__course {
    width: 230px;
    position: relative;
    @include mq(md) {
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
    img {
      width: 230px;
      @include mq(md) {
        width: 330px;
      }
    }
  }

  &__speech-bubble {
    position: absolute;
    color: #fcfcfc;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d65180;
    line-height: 1.3;
    font-size: 12px;
    top: -22px;
    left: -19px;

    @include mq(md) {
      // position: absolute;
      color: #fcfcfc;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
      font-weight: 600;
      letter-spacing: 1px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #d65180;
      line-height: 1.3;
      font-size: 12px;
      top: -20px;
      left: -14px;
    }
  }

  &__button {
    .button {
      margin-top: 60px;
      display: inline-block;
      padding: 20px 25px;
      font-size: 18px;
      justify-content: center;
      align-items: center;
      border-radius: 53px;
      background: $main-color;
      font-weight: 600;
      letter-spacing: 1.76px;
      color: #fff;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #fff;
        color: $main-color;
        border: 1px solid $main-color;
      }

      @include mq(md) {
        padding: 20px 75px;
        margin-top: 75px;
        font-size: 25px;
      }
      @include mq(la) {
        font-size: 26px;
      }
      @include mq(xl) {
        margin-top: 80px;
        padding: 20px 70px;
        font-size: 28px;
      }
    }
  }
}

/* ーーーーーーーーfooter　ーーーーーーーー */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 10px;
  @include mq(md) {
    padding-inline: 0;
    padding-top: 45px;
    max-width: 1140px;
    margin-inline: auto;
    height: 200px;
  }

  &__inner {
    @include mq(md) {
    }
  }
  &__contents {
  }

  &__left {
    display: flex;
    gap: 10px;

    flex-direction: column;
    @include mq(md) {
      align-items: center;
      gap: 30px;
    }

    @include mq(la) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__logo {
    display: inline-block;
    position: relative;
    a {
      img {
        width: 80px;
        display: block; /* 余計な隙間ができないようにあててある */

        @include mq(md) {
          width: 90px;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &__center {
  }
  &__na-list {
    @include mq(md) {
      display: flex;
    }
  }
  &__nav-list {
    @include mq(md) {
      gap: 20px;
      display: flex;
      align-items: center;
    }
  }

  &__nav-link {
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: color 0.3s;

    &:hover {
      color: $main-color;
    }

    @include mq(md) {
      margin-bottom: 0;
      font-size: 15px;
    }
  }

  &__right {
    position: absolute;
    right: 25px;
    margin-top: 15px;

    @include mq(md) {
      position: static;
    }
  }
  &__sns-list {
    display: flex;
    gap: 10px;
  }

  &__sns-icon {
    @include mq(md) {
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }
    img {
      width: 20px;
    }
  }

  &__copy {
    margin-top: 20px;
    color: #faccdc;
    text-align: center;
    font-size: 12px;

    @include mq(md) {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    @include mq(la) {
      margin-top: 70px;
    }
  }
}
/* ーーーーーーーー　pagetop　ーーーーーーーーーーーーーー*/
.pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: min(calc(50px / 375px * 100%), 50px); /* 画像の大きさ */
  /* 画像の大きさを割合で出し、５０px以下には小さくならないように設定している */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-show {
    opacity: 1;
    visibility: visible;

    @include mq(md) {
      right: 20px;
      bottom: 20px;
    }
  }
  /* &.is-show はjQと連動してる。スクロールに合わせてトップへ
 戻るボタンを表示するようにしている.これをしないとTOPページにいるのに、
 TOPページへ戻るアイコンが表示されてしまうので、TOPページ内で100pxスクロールされたら
 戻るアイコンが表示されるようにCSSとjQでコードが書いてある */

  &__icon {
    width: 40px;
  }
  // @include mq(pc) {
  //   right: 16px;
  //   bottom: 30px;
  // }
  // img {
  //   width: 50px;
  //   @include mq(pc) {
  //     width: 76px;
  //   }
  // }
}
